@model List<Employes>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
<div class="container">
    <h3>Select an employee to chat with</h3>

    <div class="list-group">
        @foreach (var employe in Model)
        {
            <a href="@Url.Action("Chat", "Messages", new { employeId = employe.IdEmploye })"
               class="list-group-item list-group-item-action">
                @employe.Utilisateur.Nom @employe.Utilisateur.Prenom
            </a>
        }
    </div>
</div>