@{
    ViewData["Title"] = "Accueil";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        Tableau de bord
    </div>
    <div class="card-body">
        <h5 class="card-title">Bienvenue dans votre application ASP.NET Core MVC avec CoreUI</h5>
        <p class="card-text">Ceci est la page d'accueil de votre application.</p>
    </div>
</div>